.center-text {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute-0000 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.v-align-transform {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width:599px) {
  .v-align-transform {
    top: 50%;
    left: 50%;
  }
}
.upper {
  text-transform: uppercase;
}
.transition {
  transition: 0.2s ease-in-out;
}
.nowrap {
  white-space: nowrap;
}
.block {
  display: block;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,
body {
  overflow-x: hidden;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.secondary-button .wp-block-button__link {
  width: 207px;
  font-size: 21px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Arquitecta', sans-serif;
  font-weight: 900;
}
p {
  font-size: 16px;
  font-family: 'Corporative Cnd', sans-serif;
}
@media only screen and (min-width: 992px) {
  p {
    font-size: 18px;
  }
}
.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-section .single-gallery-cnt {
  flex-basis: 100%;
  margin-bottom: 10px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1200px) {
  .gallery-section .single-gallery-cnt {
    flex-basis: 33%;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
.gallery-subject,
.gallery-title,
.gallery-subtitle,
.gallery-button {
  text-transform: uppercase;
  font-weight: bold;
}
.gallery-button {
  background-color: #F24405;
  color: #fff;
  font-size: 15px;
  padding: 10px 34px;
  border-radius: 50px;
  margin-top: 10px;
}
.gallery-button :hover {
  text-decoration: none!important;
  color: white!important;
}
@media only screen and (min-width: 1500px) {
  .gallery-button {
    font-size: 17px;
    padding: 19px 54px;
  }
}
.gallery-title {
  font-size: 18px;
}
.gallery-subject {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 25px;
}
.gallery-subtitle-cnt {
  margin: 10px auto 54px auto;
}
@media only screen and (min-width: 1500px) {
  .gallery-subtitle-cnt {
    margin: 40px auto 20px auto;
  }
}
.gallery-subtitle {
  font-size: 20px;
}
.h-track {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 35px;
  font-weight: bold;
}
@media only screen and (min-width: 992px) {
  .h-track {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1500px) {
  .h-track {
    font-size: 60px;
  }
}
a {
  text-decoration: none!important;
}
.wp-block-buttons {
  text-align: center!important;
}
.wp-block-cover__background,
.wp-block-cover__inner-container {
  z-index: 0!important;
}
.ays-quiz-user-results-container {
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
}
table#ays-quiz-user-score-page th {
  background-color: #13c4c4;
}
.yellow-section p {
  line-height: 2em;
}
@media only screen and (min-width: 1500px) {
  .yellow-overlay .wp-block-cover__inner-container {
    width: 70%!important;
  }
}
.um-account,
.container-fluid .um {
  width: 100%;
}
@media (min-width: 1200px) {
  .um-account,
  .container-fluid .um {
    width: 1000px;
  }
}
@media (min-width: 1400px) {
  .um-account,
  .container-fluid .um {
    width: 1200px;
  }
}
@media (min-width: 1600px) {
  .um-account,
  .container-fluid .um {
    width: 1560px;
  }
}
.navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
  z-index: 1;
  background-color: #13c4c4;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0;
  width: 50%;
  height: 50vh;
  background-color: #13c4c4;
}
@media only screen and (min-width: 992px) {
  .navbar .navbar-collapse {
    width: auto;
    height: auto;
    position: relative;
  }
}
.navbar .navbar-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.menu-list-container-main {
  border-top: 2px solid #fff;
}
@media only screen and (min-width: 992px) {
  .menu-list-container-main {
    border-top: 0px solid #fff;
  }
}
.menu-list-container-main li .dropdown-menu {
  z-index: 9;
  top: 50px;
}
.menu-list-container-main,
.menu-list-container-secondary {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 0px;
  top: 70px;
  left: 0;
}
@media only screen and (min-width: 992px) {
  .menu-list-container-main,
  .menu-list-container-secondary {
    flex-direction: row;
    align-items: center;
    top: auto;
    left: auto;
  }
}
.menu-list-container-main li,
.menu-list-container-secondary li {
  display: flex;
  height: 100%;
  margin: 20px 20px 0px 0px;
}
@media only screen and (min-width: 992px) {
  .menu-list-container-main li,
  .menu-list-container-secondary li {
    align-items: center;
    margin: 0px 20px 0px 0px;
  }
}
.menu-list-container-main li .dropdown-menu,
.menu-list-container-secondary li .dropdown-menu {
  z-index: 9;
  top: 50px;
}
.menu-list-container-main li a,
.menu-list-container-secondary li a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.menu-list-container-main li a:active,
.menu-list-container-secondary li a:active,
.menu-list-container-main li a:hover,
.menu-list-container-secondary li a:hover {
  text-decoration: none;
}
.navbar-brand {
  background-color: white;
  z-index: 2;
}
.navbar-brand img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
.menu-list-container-secondary li {
  border: 2px solid #fff;
  padding: 12px 42px;
  border-radius: 50px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
.menu-list-container-secondary li:hover {
  background-color: #F2E905;
}
.menu-list-container-secondary li:hover a {
  color: #FC6161;
}
.menu-list-container-secondary li:first-child {
  background-color: #F2E905;
}
.menu-list-container-secondary li:first-child a {
  color: #FC6161;
}
.menu-list-container-secondary li:first-child:hover {
  background-color: transparent;
}
.menu-list-container-secondary li:first-child:hover a {
  color: #fff;
}
.menu-list-container-secondary li.active {
  background-color: #F2E905;
}
.menu-list-container-secondary li.active a {
  color: #FC6161;
}
.menu-list-container-secondary li.active:hover {
  background-color: transparent;
}
.menu-list-container-secondary li.active:hover a {
  color: #fff;
}
.dropdown-menu {
  border: 2px solid #13c4c4;
}
.dropdown-menu li {
  margin-right: 0px;
  padding: 10px;
}
.dropdown-menu li a {
  color: #000;
  white-space: nowrap;
  font-weight: 500;
}
.collapse {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
.collapse:not(.show) {
  transform: translateX(60vh);
}
@media only screen and (min-width: 992px) {
  .collapse:not(.show) {
    transform: translateX(0);
  }
}
.close-button {
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.649' height='29.663' viewBox='0 0 29.649 29.663'%3E%3Cpath id='close-icon' d='M41.135 36.961l-9.751-9.751 9.751-9.751a2.957 2.957 0 0 0-4.182-4.182L27.2 23.029l-9.751-9.751a2.829 2.829 0 0 0-4.182 0 2.857 2.857 0 0 0 0 4.182l9.751 9.751L13.27 36.961a2.859 2.859 0 0 0 0 4.182 2.937 2.937 0 0 0 4.182 0L27.2 31.392l9.751 9.751a2.971 2.971 0 0 0 4.182 0A2.937 2.937 0 0 0 41.135 36.961Z' transform='translate(-12.359 -12.354)' fill='%23fff'/%3E%3C/svg%3E");
  position: absolute;
  display: block;
  cursor: pointer;
  top: 15px;
  border: 3px solid #fff;
  padding: 20px;
  border-radius: 100%;
  left: 15px;
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 992px) {
  .close-button {
    display: none;
  }
}
.splide {
  width: 100%;
  min-height: 600px;
}
.splite__list {
  position: relative;
}
.splide__slide {
  position: relative;
}
.splide__slide .slide__content {
  position: absolute;
  display: flex;
  top: 30%;
  left: 18%;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .splide__slide .slide__content {
    align-items: flex-start;
    text-align: left;
  }
}
@media only screen and (min-width: 781px) {
  .splide__slide .slide__content {
    flex-direction: row;
    top: 40%;
    left: 10%;
  }
}
.splide__arrow--next {
  right: 5%;
}
.splide__arrow--prev {
  left: 5%;
}
.splide__arrow {
  background-color: transparent;
  opacity: 1;
  border-radius: 0;
  background-repeat: no-repeat;
  width: 4em;
  background-size: contain;
}
.splide__arrow svg {
  display: none;
}
.slide__content h1 {
  color: white;
  font-size: 50px;
}
.slide__content h1 strong {
  font-size: 44px;
}
.slide__content a {
  color: white;
}
.slide__content a:hover {
  text-decoration: none;
}
.front-section-three {
  padding-top: 100px;
  padding-bottom: 100px;
}
.front-two-images-left,
.front-two-images-right {
  border: 30px solid #13C4C4;
  position: relative;
  z-index: 9;
}
.front-two-images-left {
  top: -50px;
}
.front-two-images-right {
  top: 100px;
}
.front-section-four-left,
.front-section-four-right {
  padding: 100px 50px;
}
.slider-of-object {
  padding: 30px;
}
.slider-of-object div ul li {
  position: relative;
  padding: 0px 20px;
}
@media only screen and (min-width: 1200px) {
  .slider-of-object div ul li {
    height: 640px;
  }
}
.slider-of-object div ul li .caption-wrap {
  background-color: #13C4C4;
  padding: 10px 30px;
}
@media only screen and (min-width: 1200px) {
  .slider-of-object div ul li .caption-wrap {
    height: 260px;
  }
}
.slider-of-object div ul li .caption-wrap .caption .slider-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-of-object div ul li .caption-wrap .caption .slider-content .slider-header {
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.slider-of-object div ul li .caption-wrap .caption .slider-content p {
  color: #27414E;
  font-size: 17px;
  text-align: center;
  padding-bottom: 10px;
}
.slider-of-object div ul li .caption-wrap .caption .slider-content .slider-button {
  color: #27414E;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  background-color: #F2E905;
  border-radius: 50px;
  font-weight: bold;
  padding: 11px 15px;
  text-align: center;
  margin: 0px auto;
}
.flex-direction-nav {
  list-style: none;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.flex-direction-nav .flex-nav-prev {
  position: absolute;
  right: -3%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #13C4C4;
  cursor: pointer;
}
.flex-direction-nav .flex-nav-prev a {
  color: #13C4C4;
  position: absolute;
  top: -10px;
  left: -20px;
}
.flex-direction-nav .flex-nav-next {
  position: absolute;
  left: -3%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #13C4C4;
  cursor: pointer;
}
.flex-direction-nav .flex-nav-next a {
  color: #13C4C4;
  position: absolute;
  right: -20px;
  top: -20px;
}
.splide__slide img {
  width: 100%;
}
.main-footer {
  max-width: 1920px;
  background-color: #27414E;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-footer p,
.main-footer a {
  color: #fff;
  font-size: 16px;
}
.footer-bottom-row {
  background-color: #7FDD44;
  color: #000;
}
.footer-widgets-wrapper-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.footer-widgets-wrapper-inner .widget {
  width: 100%;
}
.footer-widgets-wrapper-inner .widget .footer-bottom-wrap {
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}
@media only screen and (min-width: 992px) {
  .footer-widgets-wrapper-inner .widget .footer-bottom-wrap {
    height: 60px;
  }
}
.footer-widgets-wrapper-inner .widget .footer-bottom-wrap div {
  display: flex;
  align-items: Center;
  height: 100%;
}
.footer-widgets-wrapper {
  width: 100%;
}
.dropdown-array,
.dropdown-array-objects {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.show {
  display: block;
}
.panel-list {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #F2E905;
  padding: 20px;
  border-radius: 0px 50px 50px 0px;
}
@media only screen and (min-width: 1500px) {
  .panel-list {
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .panel-list {
    justify-content: flex-end;
  }
}
.panel-list li.button-panel {
  background-color: #13C4C4;
  border-radius: 50px;
  padding: 10px 45px;
  margin-right: 20px;
}
.panel-list li.button-panel .array-permalink {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
@media only screen and (min-width: 1200px) {
  .panel-list li.button-panel .array-permalink {
    font-size: 25px;
  }
}
.panel-list li.button-panel .array-permalink:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: none!important;
}
.dropdown-array,
.dropdown-array-objects {
  border: 2px solid #13c4c4;
}
.dropdown-array .array-item,
.dropdown-array-objects .array-item {
  margin-right: 0px;
  padding: 10px;
}
.dropdown-array .array-item a,
.dropdown-array-objects .array-item a {
  color: #000;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
}
.wp-block-cover-image img.wp-block-cover__image-background,
.wp-block-cover-image video.wp-block-cover__video-background,
.wp-block-cover img.wp-block-cover__image-background,
.wp-block-cover video.wp-block-cover__video-background {
  object-fit: contain!important;
}
.wp-container-30 {
  flex-wrap: wrap!important;
}
