.center-text {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute-0000 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.v-align-transform {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width:599px) {
  .v-align-transform {
    top: 50%;
    left: 50%;
  }
}
.upper {
  text-transform: uppercase;
}
.transition {
  transition: 0.2s ease-in-out;
}
.nowrap {
  white-space: nowrap;
}
.block {
  display: block;
}
.front-section-three {
  padding-top: 100px;
  padding-bottom: 100px;
}
.front-two-images-left,
.front-two-images-right {
  border: 30px solid #13C4C4;
  position: relative;
  z-index: 9;
}
.front-two-images-left {
  top: -50px;
}
.front-two-images-right {
  top: 100px;
}
.front-section-four-left,
.front-section-four-right {
  padding: 100px 50px;
}
.slider-of-object {
  padding: 30px;
}
.slider-of-object div ul li {
  position: relative;
  padding: 0px 20px;
}
@media only screen and (min-width: 1200px) {
  .slider-of-object div ul li {
    height: 640px;
  }
}
.slider-of-object div ul li .caption-wrap {
  background-color: #13C4C4;
  padding: 10px 30px;
}
@media only screen and (min-width: 1200px) {
  .slider-of-object div ul li .caption-wrap {
    height: 260px;
  }
}
.slider-of-object div ul li .caption-wrap .caption .slider-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-of-object div ul li .caption-wrap .caption .slider-content .slider-header {
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.slider-of-object div ul li .caption-wrap .caption .slider-content p {
  color: #27414E;
  font-size: 17px;
  text-align: center;
  padding-bottom: 10px;
}
.slider-of-object div ul li .caption-wrap .caption .slider-content .slider-button {
  color: #27414E;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  background-color: #F2E905;
  border-radius: 50px;
  font-weight: bold;
  padding: 11px 15px;
  text-align: center;
  margin: 0px auto;
}
.flex-direction-nav {
  list-style: none;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.flex-direction-nav .flex-nav-prev {
  position: absolute;
  right: -3%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #13C4C4;
  cursor: pointer;
}
.flex-direction-nav .flex-nav-prev a {
  color: #13C4C4;
  position: absolute;
  top: -10px;
  left: -20px;
}
.flex-direction-nav .flex-nav-next {
  position: absolute;
  left: -3%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #13C4C4;
  cursor: pointer;
}
.flex-direction-nav .flex-nav-next a {
  color: #13C4C4;
  position: absolute;
  right: -20px;
  top: -20px;
}
.splide__slide img {
  width: 100%;
}
